.icon-blank{
	background:url('images/icons/blank.gif') no-repeat center center;
}
.icon-blank-w{
	background:url('images/icons/blank-w.gif') no-repeat center center;
}
.icon-add{
	background:url('images/icons/edit_add.png') no-repeat center center;
}
.icon-add-w{
	background:url('images/icons/edit_add-w.png') no-repeat center center;
}
.icon-edit{
	background:url('images/icons/rename.png') no-repeat center center;
}
.icon-edit-w{
	background:url('images/icons/rename-w.png') no-repeat center center;
}
.icon-remove{
	background:url('images/icons/edit_remove.png') no-repeat center center;
}
.icon-remove-w{
	background:url('images/icons/edit_remove-w.png') no-repeat center center;
}
.icon-save{
	background:url('images/icons/filesave.png') no-repeat center center;
}
.icon-save-w{
	background:url('images/icons/filesave-w.png') no-repeat center center;
}
.icon-cut{
	background:url('images/icons/cut.png') no-repeat center center;
}
.icon-cut-w{
	background:url('images/icons/cut-w.png') no-repeat center center;
}
.icon-ok{
	background:url('images/icons/ok.png') no-repeat center center;
}
.icon-ok-w{
	background:url('images/icons/ok-w.png') no-repeat center center;
}
.icon-no{
	background:url('images/icons/no.png') no-repeat center center;
}
.icon-no-w{
	background:url('images/icons/no-w.png') no-repeat center center;
}
.icon-cancel{
	background:url('images/icons/cancel.png') no-repeat center center;
}
.icon-cancel-w{
	background:url('images/icons/cancel-w.png') no-repeat center center;
}
.icon-cancel-db{
	background:url('images/icons/cancel-db.png') no-repeat center center;
}
.icon-cancel-red{
	background:url('images/icons/cancel-red.png') no-repeat center center;
}
.icon-reload{
	background:url('images/icons/reload.png') no-repeat center center;
}
.icon-reload-w{
	background:url('images/icons/reload-w.png') no-repeat center center;
}
.icon-search{
	background:url('images/icons/search.png') no-repeat center center;
}
.icon-search-w{
	background:url('images/icons/search-w.png') no-repeat center center;
}
.icon-print{
	background:url('images/icons/print.png') no-repeat center center;
}
.icon-print-w{
	background:url('images/icons/print-w.png') no-repeat center center;
}
.icon-help{
	background:url('images/icons/help.png') no-repeat center center;
}
.icon-help-w{
	background:url('images/icons/help-w.png') no-repeat center center;
}
.icon-undo{
	background:url('images/icons/undo.png') no-repeat center center;
}
.icon-undo-w{
	background:url('images/icons/undo-w.png') no-repeat center center;
}
.icon-redo{
	background:url('images/icons/redo.png') no-repeat center center;
}
.icon-redo-w{
	background:url('images/icons/redo-w.png') no-repeat center center;
}
.icon-back{
	background:url('images/icons/back.png') no-repeat center center;
}
.icon-back-w{
	background:url('images/icons/back-w.png') no-repeat center center;
}
.icon-sum{
	background:url('images/icons/sum.png') no-repeat center center;
}
.icon-sum-w{
	background:url('images/icons/sum-w.png') no-repeat center center;
}
.icon-tip{
	background:url('images/icons/tip.png') no-repeat center center;
}
.icon-tip-w{
	background:url('images/icons/tip-w.png') no-repeat center center;
}

.icon-mini-add{
	background:url('images/icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('images/icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('images/icons/mini_refresh.png') no-repeat center center;
}

.icon-del{
	background:url('images/icons/del.png') no-repeat center center;
}
.icon-del-w{
	background:url('images/icons/del-w.png') no-repeat center center;
}

.icon-refresh{
	background:url('images/icons/refresh.png') no-repeat center center;
}
.icon-refresh-w{
	background:url('images/icons/refresh-w.png') no-repeat center center;
}
.icon-refresh-db{
	background:url('images/icons/refresh-db.png') no-repeat center center;
}
.icon-up{
	background:url('images/icons/upload.png') no-repeat center center;
}
.icon-up-w{
	background:url('images/icons/upload-w.png') no-repeat center center;
}
.icon-off{
	background:url('images/icons/download.png') no-repeat center center;
}
.icon-off-w{
	background:url('images/icons/download-w.png') no-repeat center center;
}
.icon-offline{
	background:url('images/icons/offline.png') no-repeat center center;
}
.icon-offline-w{
	background:url('images/icons/offline-w.png') no-repeat center center;
}
.icon-move{
	background:url('images/icons/move.png') no-repeat center center;
}
.icon-move-w{
	background:url('images/icons/move-w.png') no-repeat center center;
}
.icon-new{
	background:url('images/icons/new.png') no-repeat center center;
}
.icon-new-w{
	background:url('images/icons/new-w.png') no-repeat center center;
}
.icon-new-folder{
	background:url('images/icons/new_folder.png') no-repeat center center;
}
.icon-new-folder-w{
	background:url('images/icons/new_folder-w.png') no-repeat center center;
}
.icon-safe{
	background:url('images/icons/safe.png') no-repeat center center;
}
.icon-safe-w{
	background:url('images/icons/safe-w.png') no-repeat center center;
}
.icon-reset{
	background:url('images/icons/reset.png') no-repeat center center;
}
.icon-reset-w{
	background:url('images/icons/reset-w.png') no-repeat center center;
}
.icon-rename{
	background:url('images/icons/rename.png') no-repeat center center;
}
.icon-rename-w{
	background:url('images/icons/rename-w.png') no-repeat center center;
}
.icon-share{
	background:url('images/icons/share.png') no-repeat center center;
}
.icon-share-w{
	background:url('images/icons/share-w.png') no-repeat center center;
}
.icon-search_gj{
	background:url('images/icons/search_gj.png') no-repeat center center;
}
.icon-search_gj-w{
	background:url('images/icons/search_gj-w.png') no-repeat center center;
}
.icon-more{
	background:url('images/icons/more.png') no-repeat center center;
}
.icon-more-w{
	background:url('images/icons/more-w.png') no-repeat center center;
}
.icon-show{
	background:url('images/icons/show.png') no-repeat center center;
}
.icon-show-w{
	background:url('images/icons/show-w.png') no-repeat center center;
}
.icon-look{
	background:url('images/icons/look.png') no-repeat center center;
}
.icon-look-w{
	background:url('images/icons/look-w.png') no-repeat center center;
}
.icon-export{
	background:url('images/icons/export.png') no-repeat center center;
}
.icon-export-w{
	background:url('images/icons/export-w.png') no-repeat center center;
}
.icon-leading{
	background:url('images/icons/leading.png') no-repeat center center;
}
.icon-leading-w{
	background:url('images/icons/leading-w.png') no-repeat center center;
}
.icon-leadingmore{
	background:url('images/icons/leadingmore.png') no-repeat center center;
}
.icon-leadingmore-w{
	background:url('images/icons/leadingmore-w.png') no-repeat center center;
}
.icon-choose{
	background:url('images/icons/choose.png') no-repeat center center;
}
.icon-choose-w{
	background:url('images/icons/choose-w.png') no-repeat center center;
}
.icon-shengcbq{
	background:url('images/icons/shengcbq.png') no-repeat center center;
}
.icon-shengcbq-w{
	background:url('images/icons/shengcbq-w.png') no-repeat center center;
}
.icon-riz{
	background:url('images/icons/riz.png') no-repeat center center;
}
.icon-riz-w{
	background:url('images/icons/riz-w.png') no-repeat center center;
}
.icon-lingy{
	background:url('images/icons/lingy.png') no-repeat center center;
}
.icon-lingy-w{
	background:url('images/icons/lingy-w.png') no-repeat center center;
}
.icon-guih{
	background:url('images/icons/guih.png') no-repeat center center;
}
.icon-guih-w{
	background:url('images/icons/guih-w.png') no-repeat center center;
}
.icon-big{
	background:url('images/icons/big.png') no-repeat center center;
}
.icon-big-w{
	background:url('images/icons/big-w.png') no-repeat center center;
}
.icon-deacidizing{
	background:url('images/icons/deacidizing.png') no-repeat center center;
}
.icon-deacidizing-w{
	background:url('images/icons/deacidizing-w.png') no-repeat center center;
}
.icon-video-full{
	background:url('images/icons/video-full.png') no-repeat center center;
}
.icon-video-full-w{
	background:url('images/icons/video-full-w.png') no-repeat center center;
}
.icon-video-full-out{
	background:url('images/icons/video-out-full.png') no-repeat center center;
}
.icon-video-full-out-w{
	background:url('images/icons/video-out-full-w.png') no-repeat center center;
}
.icon-shenh{
	background:url('images/icons/shenh.png') no-repeat center center;
}
.icon-shenh-w{
	background:url('images/icons/shenh-w.png') no-repeat center center;
}
.icon-open{
	background:url('images/icons/open.png') no-repeat center center;
}
.icon-open-w{
	background:url('images/icons/open-w.png') no-repeat center center;
}
.icon-fold{
	background:url('images/icons/fold.png') no-repeat center center;
}
.icon-fold-w{
	background:url('images/icons/fold-w.png') no-repeat center center;
}
.icon-copy{
	background:url('images/icons/copy.png') no-repeat center center;
}
.icon-copy-w{
	background:url('images/icons/copy-w.png') no-repeat center center;
}

.icon-delred{
	background:url('images/icons/cancel-red.png') no-repeat center center;
}
/*.icon-datagrid-modify{
	background:url('images/icons/datagrid_modify.png') no-repeat center center;
}
.icon-datagrid-submit{
	background:url('images/icons/datagrid_submit.png') no-repeat center center;
}
.icon-datagrid-cancel{
	background:url('images/icons/datagrid_cancel.png') no-repeat center center;
}
.icon-datagrid-delete{
	background:url('images/icons/datagrid_delete.png') no-repeat center center;
}*/



/*-------*/
.icon-buy {
	background: url('images/icons/icon_menu.png') no-repeat -55px -440px;
}
.accordion .accordion-header-selected .icon-buy,.accordion .accordion-header:hover .icon-buy{
	background: url('images/icons/icon_menu.png') no-repeat -5px -440px;
}

/*-------*/
.icon-use {
	background: url('images/icons/icon_menu.png') no-repeat -55px -80px;
}
.accordion .accordion-header-selected .icon-use,.accordion .accordion-header:hover .icon-use{
	background: url('images/icons/icon_menu.png') no-repeat -5px -80px;
}

/*-------*/
.icon-maintain {
	background: url('images/icons/icon_menu.png') no-repeat -55px -200px;
}
.accordion .accordion-header-selected .icon-maintain,.accordion .accordion-header:hover .icon-maintain{
	background: url('images/icons/icon_menu.png') no-repeat -5px -200px;
}

/*-------*/
.icon-count {
	background: url('images/icons/icon_menu.png') no-repeat -53px -478px;
}
.accordion .accordion-header-selected .icon-count,.accordion .accordion-header:hover .icon-count{
	background: url('images/icons/icon_menu.png') no-repeat -3px -478px;
}

/*-------*/
.icon-statistic {
	background: url('images/icons/icon_menu.png') no-repeat -55px -360px;
}
.accordion .accordion-header-selected .icon-statistic,.accordion .accordion-header:hover .icon-statistic{
	background: url('images/icons/icon_menu.png') no-repeat -5px -360px;
}

/*-------*/
.icon-basics_data {
	background: url('images/icons/icon_menu.png') no-repeat -55px -760px;
}
.accordion .accordion-header-selected .icon-basics_data,.accordion .accordion-header:hover .icon-basics_data{
	background: url('images/icons/icon_menu.png') no-repeat -5px -760px;
}
/*-------*/
.icon-basics_dispose {
	background: url('images/icons/icon_menu.png') no-repeat -55px -280px;
}
.accordion .accordion-header-selected .icon-basics_dispose,.accordion .accordion-header:hover .icon-basics_dispose{
	background: url('images/icons/icon_menu.png') no-repeat -5px -280px;
}
/*-------*/
.icon-basics_allot {
	background: url('images/icons/icon_menu.png') no-repeat -55px -120px;
}
.accordion .accordion-header-selected .icon-basics_allot,.accordion .accordion-header:hover .icon-basics_allot{
	background: url('images/icons/icon_menu.png') no-repeat -5px -120px;
}
/*-------*/
.icon-basics_message {
	background: url('images/icons/icon_menu.png') no-repeat -55px -40px;
}
.accordion .accordion-header-selected .icon-basics_message,.accordion .accordion-header:hover .icon-basics_message{
	background: url('images/icons/icon_menu.png') no-repeat -5px -40px;
}
/*-------*/
.icon-import_export {
	background: url('images/icons/icon_menu.png') no-repeat -55px -400px;
}
.accordion .accordion-header-selected .icon-import_export,.accordion .accordion-header:hover .icon-import_export{
	background: url('images/icons/icon_menu.png') no-repeat -5px -400px;
}
.icon-bein {
	background: url('images/icons/icon_menu.png') no-repeat -55px -1080px;
}
.accordion .accordion-header-selected .icon-bein,.accordion .accordion-header:hover .icon-bein{
	background: url('images/icons/icon_menu.png') no-repeat -4px -1080px;
}
.icon-consumed {
	background: url('images/icons/icon_menu.png') no-repeat -55px -1200px;
}
.accordion .accordion-header-selected .icon-consumed,.accordion .accordion-header:hover .icon-consumed{
	background: url('images/icons/icon_menu.png') no-repeat -4px -1200px;
}
.icon-comparison {
	background: url('images/icons/icon_menu.png') no-repeat -55px -1120px;
}
.accordion .accordion-header-selected .icon-comparison,.accordion .accordion-header:hover .icon-comparison{
	background: url('images/icons/icon_menu.png') no-repeat -4px -1120px;
}
.icon-initialise {
	background: url('images/icons/icon_menu.png') no-repeat -55px -1160px;
}
.accordion .accordion-header-selected .icon-initialise,.accordion .accordion-header:hover .icon-initialise{
	background: url('images/icons/icon_menu.png') no-repeat -5px -1160px;
}
.icon-check {
	background: url('images/icons/icon_menu.png') no-repeat -55px -240px;
}
.accordion .accordion-header-selected .icon-check,.accordion .accordion-header:hover .icon-check{
	background: url('images/icons/icon_menu.png') no-repeat -4px -240px;
}

/*----列表中小按钮---*/
.icon_list{
  font-size:12px;
  padding-left:2px;
  cursor:pointer;
  /*float:left;*/
  height:16px;
  margin-right:5px;
	text-decoration:none;
}
.icon_list a{
	text-decoration:none;
}
.icon_list a:hover{
	color:#378dc9;
	text-decoration:;}
.icon_list input{
	border:none;
	width:14px;
	height:16px;
	cursor:pointer;
}

.icon_list span{
  padding:7px;
  *padding:0 8px;
  margin:0;
  float:left;
}
.icon-datagrid-delete {
	background: url('images/icons/icon_list.png') no-repeat 0px 0px;
	*background: url('images/icons/icon_list.png') no-repeat 0px 1px;
}
.icon_list:hover .icon-datagrid-delete{
	background: url('images/icons/icon_list.png') no-repeat 0px -16px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -15px;
}

.icon-datagrid-edit{
	background: url('images/icons/icon_list.png') no-repeat 0px -32px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -31px;
}
.icon_list:hover .icon-datagrid-edit{
	background: url('images/icons/icon_list.png') no-repeat 0px -48px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -47px;
}

.icon-datagrid-show{
	background: url('images/icons/icon_list.png') no-repeat 0px -64px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -63px;
}
.icon_list:hover .icon-datagrid-show{
	background: url('images/icons/icon_list.png') no-repeat 0px -80px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -79px;
}

.icon-datagrid-examine{
	background: url('images/icons/icon_list.png') no-repeat 0px -96px;
}
.icon_list:hover .icon-datagrid-examine{
	background: url('images/icons/icon_list.png') no-repeat 0px -112px;
}

.icon-datagrid-find{
	background: url('images/icons/icon_list.png') no-repeat 0px -128px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -127px;
}
.icon_list:hover .icon-datagrid-find{
	background: url('images/icons/icon_list.png') no-repeat 0px -144px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -143px;
}

.icon-datagrid-out{
	background: url('images/icons/icon_list.png') no-repeat 0px -160px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -159px;
}
.icon_list:hover .icon-datagrid-out{
	background: url('images/icons/icon_list.png') no-repeat 0px -176px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -175px;
}

.icon-datagrid-note{
	background: url('images/icons/icon_list.png') no-repeat 0px -192px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -191px;
}
.icon_list:hover .icon-datagrid-note{
	background: url('images/icons/icon_list.png') no-repeat 0px -208px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -207px;
}

.icon-datagrid-word{
	background: url('images/icons/icon_list.png') no-repeat 0px -224px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -223px;
}
.icon_list:hover .icon-datagrid-word{
	background: url('images/icons/icon_list.png') no-repeat 0px -240px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -239px;
}

.icon-datagrid-with{
	background: url('images/icons/icon_list.png') no-repeat 0px -256px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -255px;
}
.icon_list:hover .icon-datagrid-with{
	background: url('images/icons/icon_list.png') no-repeat 0px -272px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -271px;
}

.icon-datagrid-check{
	background: url('images/icons/icon_list.png') no-repeat 0px -288px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -287px;
}
.icon_list:hover .icon-datagrid-check{
	background: url('images/icons/icon_list.png') no-repeat 0px -304px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -303px;
}

.icon-datagrid-checkover{
	background: url('images/icons/icon_list.png') no-repeat 0px -320px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -319px;
}
.icon_list:hover .icon-datagrid-checkover{
	background: url('images/icons/icon_list.png') no-repeat 0px -336px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -335px;
}

.icon-datagrid-reduc{
	background: url('images/icons/icon_list.png') no-repeat 0px -352px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -351px;
}
.icon_list:hover .icon-datagrid-reduc{
	background: url('images/icons/icon_list.png') no-repeat 0px -368px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -367px;
}

.icon-datagrid-print{
	background: url('images/icons/icon_list.png') no-repeat 0px -384px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -383px;
}
.icon_list:hover .icon-datagrid-print{
	background: url('images/icons/icon_list.png') no-repeat 0px -400px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -399px;
}

.icon-datagrid-submit{
	background: url('images/icons/icon_list.png') no-repeat 0px -416px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -415px;
}
.icon_list:hover .icon-datagrid-submit{
	background: url('images/icons/icon_list.png') no-repeat 0px -432px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -431px;
}

.icon-datagrid-cancel{
	background: url('images/icons/icon_list.png') no-repeat 0px -448px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -447px;
}
.icon_list:hover .icon-datagrid-cancel{
	background: url('images/icons/icon_list.png') no-repeat 0px -464px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -463px;
}

.icon-datagrid-lahand{
	background: url('images/icons/icon_list.png') no-repeat 0px -481px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -480px;
}
.icon_list:hover .icon-datagrid-lahand{
	background: url('images/icons/icon_list.png') no-repeat 0px -497px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -496px;
}

.icon-datagrid-peidui{
	background: url('images/icons/icon_list.png') no-repeat 0px -513px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -512px;
}
.icon_list:hover .icon-datagrid-peidui{
	background: url('images/icons/icon_list.png') no-repeat 0px -529px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -528px;
}

.icon-datagrid-zengjia{	background: url('images/icons/icon_list.png') no-repeat 0px -545px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -544px;
}
.icon_list:hover .icon-datagrid-zengjia{
	background: url('images/icons/icon_list.png') no-repeat 0px -561px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -560px;
}

.icon-datagrid-fenchai{	background: url('images/icons/icon_list.png') no-repeat 0px -577px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -576px;
}
.icon_list:hover .icon-datagrid-fenchai{
	background: url('images/icons/icon_list.png') no-repeat 0px -593px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -592px;
}

.icon-datagrid-deacidizing{	background: url('images/icons/icon_list.png') no-repeat 0px -609px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -610px;
}
.icon_list:hover .icon-datagrid-deacidizing{
	background: url('images/icons/icon_list.png') no-repeat 0px -625px;
	*background: url('images/icons/icon_list.png') no-repeat 0px -626px;
}

.icon-jxzx{
	background:url('images/icons/jxzx.png') no-repeat center center;
}
.icon-jxzx-w{
	background:url('images/icons/jxzx-w.png') no-repeat center center;
}
.icon-ckxyjg{
	background:url('images/icons/ckxyjg.png') no-repeat center center;
}
.icon-ckxyjg-w{
	background:url('images/icons/ckxyjg-w.png') no-repeat center center;
}
.icon-lahand{
	background:url('images/icons/lahand.png') no-repeat center center;
}
.icon-lahand-w{
	background:url('images/icons/lahand-w.png') no-repeat center center;
}
.icon-peid{
	background:url('images/icons/peid.png') no-repeat center center;
}
.icon-peid-w{
	background:url('images/icons/peid-w.png') no-repeat center center;
}



.icon-checkbox{
	background:url('images/icons/checkbox.png') no-repeat center center;
}
.icon-checkboxon{
	background:url('images/icons/checkbox-w.png') no-repeat center center;
}
.icon-sjbd{
	background:url('images/icons/contrast.png') no-repeat center center;
}
.icon-sjbd-w{
	background:url('images/icons/contrast-w.png') no-repeat center center;
}
.icon-bdsz{
	background:url('images/icons/settings.png') no-repeat center center;
}
.icon-bdsz-w{
	background:url('images/icons/settings-w.png') no-repeat center center;
}
.icon-sdsx{
	background:url('images/icons/sdsx.png') no-repeat center center;
}
.icon-sdsx-w{
	background:url('images/icons/sdsx-w.png') no-repeat center center;
}
.icon-synchro{
	background:url('images/icons/synchro.png') no-repeat center center;
}
.icon-synchro-w{
	background:url('images/icons/synchro-w.png') no-repeat center center;
}
.icon-synchroone{
	background:url('images/icons/synchroone.png') no-repeat center center;
}
.icon-synchroone-w{
	background:url('images/icons/synchroone-w.png') no-repeat center center;
}


.icon-circlewait{
	background:url('images/icons/circle_wait.png') no-repeat center center;
}
.icon-circleignore{
	background:url('images/icons/circle_ignore.png') no-repeat center center;
}
.icon-circlesuccess{
	background:url('images/icons/circle_success.png') no-repeat center center;
}
.icon-circleerror{
	background:url('images/icons/circle_error.png') no-repeat center center;
}
.icon-circlesum{
	background:url('images/icons/circle_sum.png') no-repeat center center;
}
.icon-circlewarn{
	background:url('images/icons/circle_warn.png') no-repeat center center;
}
.icon-circlecount{
	background:url('images/icons/circle_count.png') no-repeat center center;
}
.icon-retrieval{
	background:url('images/icons/retrieval.png') no-repeat center center;
}
.icon-retrieval-w{
	background:url('images/icons/retrieval-w.png') no-repeat center center;
}
.icon-word{
	background:url('images/icons/word.png') no-repeat center center;
}
.icon-word-w{
	background:url('images/icons/word-w.png') no-repeat center center;
}
/*-------*/
.icon-basics_asset_find {	
	background: url('images/icons/icon_menu.png') no-repeat -55px -800px;
}
.accordion .accordion-header-selected .icon-basics_asset_find,.accordion .accordion-header:hover .icon-basics_asset_find{
	background: url('images/icons/icon_menu.png') no-repeat -5px -800px;
}

/*-------*/
.icon-basics_org_asset {	
	background: url('images/icons/icon_menu.png') no-repeat -55px -840px;
}
.accordion .accordion-header-selected .icon-basics_org_asset,.accordion .accordion-header:hover .icon-basics_org_asset{
	background: url('images/icons/icon_menu.png') no-repeat -5px -840px;
}
.icon-excel{
	background:url('images/icons/excel.png') no-repeat center center;
}
.icon-excel-w{
	background:url('images/icons/excel-w.png') no-repeat center center;
}
.icon-split{
	background:url('images/icons/split.png') no-repeat center center;
}
.icon-split-w{
	background:url('images/icons/split-w.png') no-repeat center center;
}
/*----回复*/

.icon-reply{
	background:url('images/icons/reply.png') no-repeat center center;
}
.icon-reply-w{
	background:url('images/icons/reply-w.png') no-repeat center center;
}
.icon-lock{
	background:url('images/icons/lock.png') no-repeat center center;
}
.icon-lock-w{
	background:url('images/icons/lock-w.png') no-repeat center center;
}
.icon-unlock{
	background:url('images/icons/unlock.png') no-repeat center center;
}
.icon-unlock-w{
	background:url('images/icons/unlock-w.png') no-repeat center center;
}
.icon-ksxx{
	background:url('images/icons/ksxx.png') no-repeat center center;
}
.icon-ksxx-w{
	background:url('images/icons/ksxx-w.png') no-repeat center center;
}
.icon-sjxx{
	background:url('images/icons/sjxx.png') no-repeat center center;
}
.icon-sjxx-w{
	background:url('images/icons/sjxx-w.png') no-repeat center center;
}


/*-----禁用 ---*/
.icon-prohibit{
	background:url('images/icons/prohibit.png') no-repeat center center;
}
.icon-prohibit-w{
	background:url('images/icons/prohibit-w.png') no-repeat center center;
}
.icon-start{
	background:url('images/icons/start.png') no-repeat center center;
}
.icon-start-w{
	background:url('images/icons/start-w.png') no-repeat center center;
}
.icon-disable{
	background:url('images/icons/disable.png') no-repeat center center;
}
.icon-disable-w{
	background:url('images/icons/disable-w.png') no-repeat center center;
}
.icon-initialization{
	background:url('images/icons/initialization.png') no-repeat center center;
}
.icon-initialization-w{
	background:url('images/icons/initialization-w.png') no-repeat center center;
}
.icon-working{
	background:url('images/icons/working.png') no-repeat center center;
}
.icon-working-w{
	background:url('images/icons/working-w.png') no-repeat center center;
}
.icon-view-reply{
	background:url('images/icons/view-reply.png') no-repeat center center;
}
.icon-view-reply-w{
	background:url('images/icons/view-reply-w.png') no-repeat center center;
}
.icon-plant{
	background:url('images/icons/plant.png') no-repeat center center;
}
.icon-plant-w{
	background:url('images/icons/plant-w.png') no-repeat center center;
}
.icon-plant-ok{
	background:url('images/icons/plant-ok.png') no-repeat center center;
}
.icon-plant-ok-w{
	background:url('images/icons/plant-ok-w.png') no-repeat center center;
}
.icon-breed{
	background:url('images/icons/breed.png') no-repeat center center;
}
.icon-breed-w{
	background:url('images/icons/breed-w.png') no-repeat center center;
}
.icon-breed-ok{
	background:url('images/icons/breed-ok.png') no-repeat center center;
}
.icon-breed-ok-w{
	background:url('images/icons/breed-ok-w.png') no-repeat center center;
}
.icon-process{
	background:url('images/icons/process.png') no-repeat center center;
}
.icon-process-w{
	background:url('images/icons/process-w.png') no-repeat center center;
}
.icon-process-ok{
	background:url('images/icons/process-ok.png') no-repeat center center;
}
.icon-process-ok-w{
	background:url('images/icons/process-ok-w.png') no-repeat center center;
}
.icon-carry{
	background:url('images/icons/carry.png') no-repeat center center;
}
.icon-carry-w{
	background:url('images/icons/carry-w.png') no-repeat center center;
}
.icon-return{
	background:url('images/icons/return.png') no-repeat center center;
}
.icon-return-w{
	background:url('images/icons/return-w.png') no-repeat center center;
}
.icon-handle{
	background:url('images/icons/handle.png') no-repeat center center;
}
.icon-handle-w{
	background:url('images/icons/handle-w.png') no-repeat center center;
}
.icon-sign-for{
	background:url('images/icons/sign-for.png') no-repeat center center;
}
.icon-sign-for-w{
	background:url('images/icons/sign-for-w.png') no-repeat center center;
}
.icon-send{
	background:url('images/icons/send.png') no-repeat center center;
}
.icon-send-w{
	background:url('images/icons/send-w.png') no-repeat center center;
}
.icon-order{
	background:url('images/icons/order.png') no-repeat center center;
}
.icon-order-w{
	background:url('images/icons/order-w.png') no-repeat center center;
}
.icon-idle{
	background:url('images/icons/idle.png') no-repeat center center;
}
.icon-idle-w{
	background:url('images/icons/idle-w.png') no-repeat center center;
}
.icon-course{
	background:url('images/icons/course.png') no-repeat center center;
}
.icon-course-w{
	background:url('images/icons/course-w.png') no-repeat center center;
}
.icon-inuse{
	background:url('images/icons/inuse.png') no-repeat center center;
}
.icon-inuse-w{
	background:url('images/icons/inuse-w.png') no-repeat center center;
}

/*----  上报  ----*/
.icon-report{
	background:url('images/icons/report.png') no-repeat center center;
}
.icon-report-w{
	background:url('images/icons/report-w.png') no-repeat center center;
}
.icon-authentication{
	background:url('images/icons/authentication.png') no-repeat center center;
}
.icon-authentication-w{
	background:url('images/icons/authentication-w.png') no-repeat center center;
}
.icon-initialize{
	background:url('images/icons/initialize.png') no-repeat center center;
}
.icon-initialize-w{
	background:url('images/icons/initialize-w.png') no-repeat center center;
}
.icon-batch-del{
	background:url('images/icons/batch-del.png') no-repeat center center;
}
.icon-batch-del-w{
	background:url('images/icons/batch-del-w.png') no-repeat center center;
}
.icon-statistics{
	background:url('images/icons/statistics.png') no-repeat center center;
}
.icon-statistics-w{
	background:url('images/icons/statistics-w.png') no-repeat center center;
}
.icon-screen{
	background:url('images/icons/screen.png') no-repeat center center;
}
.icon-screen-w{
	background:url('images/icons/screen-w.png') no-repeat center center;
}
.icon-preview{
	background:url('images/icons/preview.png') no-repeat center center;
}
.icon-preview-w{
	background:url('images/icons/preview-w.png') no-repeat center center;
}
.icon-allot{
	background:url('images/icons/allot.png') no-repeat center center;
}
.icon-allot-w{
	background:url('images/icons/allot-w.png') no-repeat center center;
}

/*-------*/
.icon-temp {
	background: url('images/icons/icon-temp.png') no-repeat ;
}
.accordion .accordion-header-selected .icon-temp,.accordion .accordion-header:hover .icon-temp{
	background: url('images/icons/icon-temp.png') no-repeat ;
}